body{

	font-family: 'Poiret One', cursive;
	text-align:center;
	align-content: center;
	vertical-align: top;
	background-color: #F2F1F1;

}

h1{
	color: #666262;
	font-size: 40pt;
	margin-bottom: 40px;

}
nav{
	margin-top:40px;
	display: none;
}

nav a{

	font-size: 25pt;
	margin-left: 20px;
}

form{

	margin: 0 auto;
	height: 100%;
	width: 30%;
	text-align: center ;
	align-content: center;
}

.btn{

	margin:5px;
}

.no-float{
	float:none !important;
}


#productos{

	text-align: center;
}

.container{

	margin-top:20px;
}
